/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-feb-02, 23:03:31
    Author     : ramonachantaf
*/

.list-view, .list-view:focused, .list-view:selected {
    -fx-control-inner-background: transparent;
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-fit-to-width: true;
    -fx-effect: null;
    -fx-selection-bar: transparent;
    -fx-selection-bar-non-focused: transparent;
}

.list-view .list-cell:filled:selected:focused, .list-view .list-cell:filled:selected {
    -fx-background-color:#d1b942;
    -fx-effect: null;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: transparent;
    -fx-effect: null;
}

#addFileButton{
    -fx-background-radius: 200;
    -fx-background-color: none;
    -fx-border-width: 1;
    -fx-border-color:black;
    -fx-border-radius:200;
}


#addFileButton:hover{
    -fx-background-radius: 200;
    -fx-background-color:  #fcfe6c;
    -fx-border-width: 1;
    -fx-border-color:black;
    -fx-border-radius:200;
    -fx-cursor: hand;
}

#addFileButton:active{
     -fx-background-color: #fcfe6c;
}
